extends layout

block content
  h1 Palindrome Checker
  form(method="POST" action="/")
    label(for="userText") Enter your text here:
    br
    input(type="text" id="userText" name="userText" value=`${phrase}`)
    br
    br
    button(type="submit") Submit
    br
    h2 Examples of Palindromes
    p= "racecar"
    br
    p= "Step on no pets"
    br
    p= "Go hang a salami! I'm a lasagna hog"
    if message
    p=message